name: Generate Mocked APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: Clean Node modules
        run: rm -rf Venered/node_modules Venered/package-lock.json

      - name: Install dependencies
        working-directory: ./Venered
        run: npm install

      - name: Clean Gradle project
        working-directory: ./Venered/android
        run: ./gradlew clean

      - name: Generate debug keystore
        run: keytool -genkey -v -keystore Venered/android/app/debug.keystore -storepass android -alias androiddebugkey -keypass android -keyalg RSA -keysize 2048 -validity 10000 -dname "CN=Android Debug,O=Android,C=US"

      - name: Build Android APK (Debug)
        working-directory: ./Venered/android
        run: ./gradlew :app:assembleDebug --no-daemon

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-debug-mocked
          path: Venered/android/app/build/outputs/apk/debug/app-debug.apk
